* {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: "Libre Baskerville", serif;
	color:#6B4324;
}
body {
	background-color: beige;
	color: white;
	font-family: "Sour Gummy", serif;
}

.container {
	background-color: #D8A444;
	color: beige;
	text-align: center;
	padding: 20px 22px;
	font-family: "Sour Gummy", serif;
}

a {
	color: #6B4324;
	text-decoloration: none;
	text-decoration:none;
}

.footer {
	background-color: #D8A444;
	color: beige;
	font-family: "Libre Baskerville", serif;
	padding: 40px;
	text-align: center;
}

